<center>
    <nav class="header-nav">
        <ul class="navigation-bar">
            <li><a href="/">Home</a></li>
            <li><a href="/pages/cv.html">CV</a></li>
            <li><a href="/pages/methods">Methods</a></li>
            <li><a href="/pages/blogs">Scientific blogs</a></li>
<!--
            <li><a href="/archives/">Archive</a></li>
            <li><a href="/tags/">Tags</a></li>
            <li><a href="/about/">ABOUT</a></li>
-->
            <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}">Rss</a></li>
            <li><a href="https://orcid.org/0000-0002-6674-3806"><img height="16" width="16" src="/images/orcid.png"></a></li>
            <li><a href="https://twitter.com/sebplutniak"><img height="16" width="16" src="/images/twitter.png"></a></li>
            <li><a href="https://github.com/sebastien-plutniak"><img height="16" width="16" src="/images/github.png"></a></li>
        </ul>
    </nav>
</center><br>

<center>
    <nav class="header-nav">
        <ul class="navigation-bar">
			<b>ARCHAEOLOGY:</b>
            <li><a href="/pages/archaeology/publications.html">Publications</a></li>
            <li><a href="/pages/archaeology/talks.html">Talks</a></li>
        </ul>
    </nav>
</center>

<center>
    <nav class="header-nav">
        <ul class="navigation-bar">
			<b>SOCIAL SCIENCES:</b>
            <li><a href="/pages/socialsciences/publications.html">Publications</a></li>
            <li><a href="/pages/socialsciences/talks.html">Talks</a></li>
        </ul>
    </nav>
</center>
